body {
    margin: 0;
    height: 100vh;
    background-color:lightblue ;
}

.header {
    text-align: center;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container label {
    margin-right: 8px;
    font-size: xx-large;
}

#nameInput{
    padding-left: 10px;
    font-size:large;
}

input {
    width: 200px;
    height: 40px;
}

input::placeholder {
    font-size:large;
}

.generateButton {
  align-items: center;
  appearance: none;
  margin-top: 20px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.generateButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.generateButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.generateButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#greetingMessage {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;

}

@keyframes greeting-animation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.greeting-animation {
    animation: greeting-animation 1s ease-in-out;
}

.generateButton:hover {
    background-color: rgb(93, 178, 197);
}

#errorMessage {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    animation: greeting-animation 1s ease-in-out;
}